<div class="wait">
    <div class="wait-left">
        <div class="wait-nav">
            <a href="">为你推荐</a>
            <a href="">人气问题</a>
            <a href="">最新问题</a>
            <a href="">邀请回答</a>
        </div>
        <div class="wait-list">
            <div class="wait-list-item">
                <div class="wait-list-item-title">试试帮他解答</div>
                <p>你为什么而上班?</p>
                <div>
                    <span>582 回答</span>
                    <span>715 关注</span>
                </div>
            </div>
        </div>
    </div>
    <div class="wait-right">
        sdfsdf
    </div>
</div>