*{
    margin: 0;
    padding: 0;
}
body{
    background: #f6f6f6;
}
a{
    text-decoration: none;

}
.header{
    height: 52px;
    line-height: 52px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
}
.header_top{
    min-width: 1000px;
    max-width: 1156px;
    margin: 0 auto;
    color: #8590a6;
}
.header_top a{
    padding: 0 14px;
    color: #8590a6;
}

.main{
    padding-top: 52px;
}
.contents{
    min-width: 1000px;
    max-width: 1156px;
    margin: 0 auto;
}


.wait{
    margin-top:10px;
    overflow: hidden;
}
.wait-left{
    width: 70%;
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}
.wait-nav{
    background: #fff;
    height: 68px;
    line-height: 68px;
    border-bottom: 1px solid #f6f6f6;
    padding: 0 10px;
    display: flex;
    align-content: center;
}
.wait-nav a{
    display: block;
    height: 32px;
    line-height: 32px;
    margin-right: 20px;
    padding: 0 10px;
    background: rgba(133,144,166,.12);
    border-radius: 16px;
    margin-top: 18px;
}
.wait-list{
    background: #fff;
    padding: 0 10px;
    padding-bottom: 20px;
}
.wait-list-item{
    padding: 20px 0;
    border-bottom: 1px solid #f6f6f6;
}
.wait-list-item-title{
    color: rgb(133, 144, 166);
}
.wait-list-item p {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    color: #121212;
}
.wait-list-item span{
    color: #8590a6;
}
.wait-right{
    width: 30%;
    float: right;
}